.calendar-ui{
    .month-selector{
        display: flex;
        justify-content: space-between;
    }
    ul{
        display: flex;
        flex-direction: column;
        > li{
            &:first-child{
                border-bottom: 1px solid $form-hint-color;
            }
            display:flex;
            > label{
                display: inline-flex;
                width: 2rem;
                height: 2rem;
                justify-content: center;
                align-items: center;
                color: $form-hint-color;
                border-radius: 2rem;
                &.selected-day{
                    font-weight: bold;
                    color: white;
                    background-color: $selected-item-color;
                }
            }
        }
    }
}