.calendar-ui{
    .month-selector{
        display: flex;
        justify-content: space-between;
    }
    ul{
        display: flex;
        flex-direction: column;
        > li{
            display:flex;
            > label{
                display: inline-flex;
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}