.game-loader{
    .game-list-container{
        box-shadow: 0 2px 0 $border-color, 0 -2px 0 $border-color;;
        position: absolute;
        bottom: 2rem;
        top: 9rem;
        left: 1rem;
        right: 1rem;
        overflow: hidden scroll;
    }
    .search-field{
        width: 98%;
        height: 1.5rem;
        border-radius: .2rem;
        margin: .5rem 0
    }
    .load-menu-filters{
        display: flex;
        justify-content: space-between;
        .filter-item{
            display: flex;
        }
        .load-menu-modes{
            font-size: 1.8rem;
            color: $unselected-item-color;
            a{
                &:first-child{
                    &::after{
                        content: " | ";
                        color: $unselected-item-color;
                    }
                }
                &.selected{
                    color: $selected-item-color;
                }
            }
        }
        .filter-content{
            display: flex;
            > :last-child{
                margin-left: 1.5rem;
            }
        }
    }
    
    ul{
        margin: 0;
        padding: 0;
        display: flex;
        
        

        > li{
            margin: .1rem;
            display: flex;
            justify-content: space-between;
            
            .preview{
                width: 4rem;
                height: 4rem;
                display: flex;
                flex-direction: column;
                > div{
                    display:flex;
                }
            }
            .details{
                display:flex;
                flex-direction: column;
                font-size: .7rem;
                flex-grow: 1;
                .name{
                    font-size: 1.2rem;
                }
            }
            .actions{
                display:flex;
            }
        }
        $columnWidth: 33%;
        &.grid-mode{
            display: grid;
            grid-template-columns: $columnWidth $columnWidth $columnWidth;
            column-gap: .1em;
            row-gap: 1em;
            > li{
                
                flex-direction: column;
                align-items: center;
                padding: .1em;
                border-bottom: 1px solid $border-color;
                .details{
                    align-items: center;
                    padding: .5rem;
                    text-align: center;
                }
                .actions{
                    justify-content: center;
                }
            }
        }
        &.list-mode{
            flex-direction: column;
            > li{
                padding: .2rem;
                &:not(:last-child){
                    border-bottom: 1px solid $border-color;
                }
                
                .details{
                    padding: 0 .5rem;
                    max-width: 36%;
                }
                .actions{
                    max-height: 2.5rem;
                    button{
                        min-width: 4rem;
                    }
                }
                .preview{
                    width: 3rem;
                    height: 3rem;
                }
                
            }
        }
    }

    .selection-label{
        padding: .25rem .5rem;
        background-color: $clear;
        color: $label-color;
        border-radius: .125rem;
        margin-left: .125rem;
        text-transform: uppercase;
        > a{
            color: $error-color;
        }
    }
}