.game-loader{
    ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        > li{
            margin: .1rem;
            display: flex;
            justify-content: space-between;
            box-shadow: 0 0 0 1px inset;
            .preview{
                width: 4rem;
                height: 4rem;
                display: flex;
                flex-direction: column;
                > div{
                    display:flex;
                }
            }
            .details{
                display:flex;
                flex-direction: column;
                font-size: .7rem;
                flex-grow: 1;
                .name{
                    font-size: 1.2rem;
                }
            }
            .actions{
                display:flex;
            }
        }
        &.grid-mode{
            flex-wrap: wrap;
            > li{
                width: 32%;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .details{
                    align-items: center;
                    padding: .5rem;
                    text-align: center;
                }
                .actions{
                    justify-content: center;
                }
            }
        }
        &.list-mode{
            flex-direction: column;
            > li{
                padding: .2rem;
                .details{
                    padding: 0 .5rem;
                }
                .actions{
                    flex-direction: column;
                }
                .preview{
                    width: 3rem;
                    height: 3rem;
                }
                
            }
        }
    }
}