.popper-pod-container{
    .popper-pod-blocker{
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color:rgba(0,0,0,.5);
        z-index: 8;
    }
    .popper-pod-content{
        position: absolute;
        background-color:$popper-bg;
        z-index: 9;
        padding: .5rem;
        margin: 0 .75rem;
    }
}