
$main-color: #0099cc;
$accent-color-1: #3366ff;
$bg-color: #cccccc;
$reverse-color: #ffffff;
$modal-bg: #eeeeee;
$selected-item-color: #ed1c24;
$unselected-item-color: #9fa1a4;
$popper-bg: #ffffff;
$form-hint-color: #939598;

$label-color: #666666;

$primary-link: #d7eac5;
$secondary-link: #b4d5e5;
$border-color: #000000;

$clear: transparent;

$error-color: #ff0000;